-webkit-perspective: ${1:300};
   -moz-perspective: $1;
    -ms-perspective: $1;
        perspective: $1;

-webkit-transform: rotateY(${2:180}deg);        -webkit-transform-style: ${3:preserve-3d};
   -moz-transform: rotateY($2deg);           -moz-transform-style: $3;
    -ms-transform: rotateY($2deg);            -ms-transform-style: $3;
        transform: rotateY($2deg);                transform-style: $3;
