background-color: #${1:444444};
background-image: -webkit-gradient(linear, left top, left bottom, from(#$1), to(#${2:999999}));
background-image: -webkit-linear-gradient(top, #$1, #$2);
background-image:    -moz-linear-gradient(top, #$1, #$2);
background-image:     -ms-linear-gradient(top, #$1, #$2);
background-image:      -o-linear-gradient(top, #$1, #$2);
background-image:         linear-gradient(to bottom, #$1, #$2);
